
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
header {
    width: 100%;
    background: none;
    margin-bottom: 50px;
    background-image: url('./food2.jpg');
    background-size: cover;
}
header > h1 {
    font-size: 80px;
    padding-left:5%;
    padding-top: 8%;
    margin-top: 75px;
    margin-bottom: 0;
    font-weight: bolder;
    letter-spacing: .1em;
    padding-bottom: 0;
    
  }
header > h2 {
    margin-left: 8%;
    padding-left: 5%;
    font-weight: 900;
    margin-bottom: 50px;
}
.intro {
    padding: 1% 2%;
    width: 45%;
    margin-left: 2%;
    line-height: 1.5em;
    font-size: 18px;
}
body {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    }

#caloriesID, #dietID {
    font-size: 1.35em;
    color: green;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .06em;

}
#eat {
    font-size: 1.5em;
    color: green;
}
#not {
    color: rgb(167, 11, 11);
    font-size: 1.35em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .06em;
}
.ingredientForm {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
}
main {
    display: flex;
    justify-content: center;
}
.formList {
    list-style: none;
    padding-left: 2%;
    font-size: 1.5em;
    font-weight: bolder;
    width: 80%
}
#diet, #exclude {
    width: 220px;
    padding-left: 1%;
}
#calories,#diet,#exclude {
    font-size: 20px;
    height: 50px;
}
#calories {
    width: 100px;
}

select {
    opacity: .7;
    border: 3px solid olivedrab;
}
.underHeader {
    display: flex;
    justify-content: space-between;
}
.intro2 {
    width: 40%;
    margin-right: 2%;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
#ingredient {
    height: 40px;
}
#arrow {
    height:100px;
    width: 100px;
}
input {
    width: 250px;
    height: 25px;
    border: 3px solid olivedrab;
    padding: .75%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: .7;
    color: black;
}
.button {
    width: 95%;
    min-height: 125px;
    font-size: 2em;
    font-weight: bolder;
    margin: auto 2%;
    line-height: 1.5em;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    background-position: center;
    color: black;
    border: 3px solid olivedrab;
    opacity: .8;
}
.button:hover {
    cursor: pointer;
    background-image: url('./5d0a88512500004e12e94a01.jpeg');
    background-size: cover;
    transition: .5s;
    color: white;
    
}
.ingredientButton {

}
img {
    width: 50px;
    height: 50px;
}
.funFact {
    text-align: center;
}
p{
    text-align: left;
}
footer {
   
   align-self: flex-end;
    width: 50%;
    background: lightgrey;
}
.hidden {
   display: none;
}
iframe  {
    border: none;
    height: 800px;
    margin-top: 25px;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.formSection {
    background: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-height: 80%;
}
.mealList {
    padding-top: 2%;
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
}
.days {
    font-weight: 900;
}
.meal {
    color: black;
    font-weight: 900;
    text-decoration: none;
}
.mealLink {
    text-decoration: none;
}
.mealWeek {
    background-image: url('./brooke-lark-08bOYnH_r_E-unsplash.jpg');
    background-size: cover;
    background-position: center;
}
.mealLink:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 720px){
    .underHeader {
        flex-direction: column;
    }
    .intro, .intro2 {
        width: 95%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .intro2 > h2 {
        font-size: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 520px){
    header > h1 {
        font-size: 50px;
    }
    header > h2 {
        font-size: 1.2em;
    }
}


